.To-doList {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top:100px;
}

h1 {
  font-size:4rem;
  
}


button {
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button {
  background-color: hsl(120, 75%, 34%);
}

.add-button:hover {
  background-color: hsl(120, 75%, 44%);
}

.delete-button {
  background-color: hsl(0, 73%, 45%);
}

.delete-button:hover {
  background-color: hsl(0, 73%, 55%);
}

.moveUp-button {
  background-color: hsl(246, 69%, 44%);
}
.moveUp-button:hover {
  background-color: hsl(246, 69%, 54%);
}


.moveDown-button {
  background-color: hsl(246, 69%, 44%);
}
.moveDown-button:hover {
  background-color: hsl(246, 69%, 54%);
}


input[type="text"] {
  font-size: 1.3rem;
  padding: 10px;
  border: 2px solid black;
}


ol{
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
}