
.card {
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  box-shadow: 5px 5px 10px hsla(0, 0%, 44%, 0.347);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;


}

.card .card-image {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 10%)
}

.card .card-text {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 20%)
}

.student {
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  
}

.student p{
  margin: 0;
}


.welcome-message {
  font-family: Arial, sans-serif;
  size: 2.5em;
  background-color: green;
  padding: 15px;
  border-radius: 10px;
}

.login-message {
  font-family: Arial, sans-serif;
  size: 2.5em;
  background-color: red;
  padding: 15px;
  border-radius: 10px;
}



.list-category {
  font-size: 2.5em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(45, 93%, 49%);
}


.list-items li{
  font-size: 2em;
  text-align: center;
font-family: Arial, sans-serif;
margin: 0;
}

.list-items li :hover{
background-color: hsl(45, 93%, 40%);
cursor: pointer;
}


.counter-container {
  font-family: Arial, sans-serif;
  text-align: center;
}

.count-display {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 50px;

}

.count-button {
  width: 150px;
  height: 70px;
  font-size: 1.5em;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.count-button:hover {
  background-color: yellowgreen;
}